body {
   position: absolute;
   left: 0px;
   right: 0px;
   top: 0px;
   bottom: 0px;
}

.fb, .tw {
    color: #b9b9b9;
}

.fb.toggled {
    color: #3B5998;
}
.tw.toggled {
    color: #55ACEE;
}

textarea {
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-appearance: none;
   -moz-appearance: none;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border: #ddd 1px solid;
   color: #222;
   font: normal normal normal 14px/16px 'Helvetica Neue',Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
   outline: none;
   overflow: hidden;
   padding: 8px;
   width: 100%;
   height: 60px;
}


.description {
  max-height: 60px;
  overflow: hidden;
}

.description:after {
  content: '';
  width: 100%;
  height: 10%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: -webkit-linear-gradient(transparent, 1.3em, white); /* For Safari 
  background: linear-gradient(transparent 1.3em, white);
}

#Current #card_with_image_on_left_two_text_rows0 {

  margin-top: 10px;

  margin-right: 0px;

  margin-bottom: 10px;

  margin-left: 0px;

  z-index: 0;

}
#Current #card_with_image_on_left_two_text_rows0 > *:first-child {

  padding-top: 1px;

  padding-right: 0px;

  padding-bottom: 1px;

  padding-left: 0px;

  width: 300px;

}

/* End CSS for Current */

/* Begin CSS for Trending */
/*
#Trending {

  min-height: 100%;

}

#Trending #card_with_image_on_left_two_text_rows0 {

  margin-top: 10px;

  margin-right: 0px;

  margin-bottom: 10px;

  margin-left: 0px;

  z-index: 0;

}
#Trending #card_with_image_on_left_two_text_rows0 > *:first-child {

  padding-top: 1px;

  padding-right: 0px;

  padding-bottom: 1px;

  padding-left: 0px;

  width: 300px;

}
*/

/* End CSS for Trending */

/* Begin CSS for Feed */
#Feed {

  min-height: 100%;

}


#Feed #card_with_image_on_left_two_text_rows0 {

  margin-top: 10px;

  margin-right: 0px;

  margin-bottom: 10px;

  margin-left: 0px;

  z-index: 0;

}
#Feed #card_with_image_on_left_two_text_rows0 > *:first-child {

  padding-top: 1px;

  padding-right: 0px;

  padding-bottom: 1px;

  padding-left: 0px;

  width: 300px;

}

/* End CSS for Feed */

/* Begin CSS for Search */
#Search {

  min-height: 100%;
}


#Search #text_field0 {

  margin-top: 10px;

  margin-right: 0px;

  margin-bottom: 10px;

  margin-left: 0px;

  z-index: 0;

}
#Search #text_field0 > *:first-child {

  padding-top: 0px;

  padding-right: 0px;

  padding-bottom: 0px;

  padding-left: 0px;

  width: 318px;

}

/* End CSS for Search */


div#global-spinner-div {
  display: none;
}

.global-blackout {
  z-index: 9999;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
}

.global-modal-container {
  z-index: 99999;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.global-spinner-container {
  position:absolute;
  width:100px;
  height:100px;
  top:50%;
  left:50%;
  margin:-50px 0 0 -50px;
  background-color: #eee;
  opacity: 0.8;
  display: -webkit-box;
  -webkit-box-orient:vertical;
  -webkit-box-pack: center;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-align: center;
  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.global-spinner-container .icon {
  font-size: 40px;
  line-height: 1;
  width: 40px;
  height: 40px;
}
loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  margin: 8em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
.loader:before {
  left: -3.5em;
}
.loader:after {
  left: 3.5em;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #FFF;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #FFF;
  }
}
