<div ng-controller="GistCtrl" id="Gist" ng-cloak>
  <div class="">
    <div class="ionic-pseudo" style="position: relative;">
	<div class="item item-avatar item-text-wrap">
		<img ng-src="{{ extract.images[0].url }}">
		<h2>{{extract.title}}</h2>
		<p>via {{ extract.provider_name}}</p>
	</div>
	
	<div class="button-bar">
        	<button id="fb-button" class="button fb" ng-click="toggleActive($event)" >
	     		<i class="icon super-social-facebook"></i> Facebook
		</button>
        	<button id="tw-button" class="button tw" ng-click="toggleActive($event)" >
	     		<i class="icon super-social-twitter"></i> Twitter
		</button>
	</div>
	<div>
		<label class="item item-input" >
		    <textarea placeholder="What was the gist?" ng-model="gist" name="gist" id="gist" style="height:200px; margin:25px 15px 25px 0"></textarea>
		</label>
	</div>
    </div>
  </div>
</div>
