<div ng-controller="FeedCtrl" id="Feed" ng-cloak>
 <div id="content" class="content overflow-scroll scroll-content">
  <ul id="feed-list" pull-to-refresh="onReload()">
    <li ng-model="feeds" ng-repeat="feed in feeds" class="list-group-item">
        <div class="list card">
	  <div class="item item-avatar">
	    <img width="16px" height="16px" ng-src="{{ feed.extract.favicon_url }}">
	    <h2>via {{feed.extract.provider_name}}</h2>
	  </div>

          <div class="item item-body">
            <h2>
              {{feed.extract.title}}
            </h2>
            <div ng-bind-html="feed.extract.video"></div>
            <img class="full-image" ng-src="{{ feed.extract.images[0].url }}" ng-click="openURL(feed, $index)" />
            <p>
              {{feed.extract.description}}
            </p>
	    <a class="action" target="_blank" href="http://www.cnn.com/2015/04/06/middleeast/yemen-conflict-houthis-saudi-arabia/index.html">Read the article on {{ feed.extract.provider_display }} &gt;</a>
          </div>
           
          <button class="button button-full button-balanced" ng-click="showGistPrompt(feed, $index)"  >gist it</button>
        </div>
    </li>
  </ul>
</div>
</div>
