<div ng-controller="FeedCtrl" id="Feed" ng-cloak>
 <div id="content" class="content overflow-scroll scroll-content">
  <ul id="feed-list" pull-to-refresh="onReload()">
    <li ng-model="feeds" ng-repeat="feed in feeds| orderObjectBy:'publishedDate':true" class="list-group-item">
        <div class="list card">
	  <div class="item item-avatar">
	    <img ng-src="{{ feed.extract.favicon_url }}">
            <h3 style="overflow: initial; text-overflow: initial; white-space: initial;">
              {{feed.extract.title}}
            </h3>
	    <h4>via {{feed.extract.provider_name}} · <span am-time-ago="feed.publishedDate"></span></h4>
	  </div>

          <div class="item item-body">
            <div ng-bind-html="feed.extract.video"></div>
            <img class="full-image" ng-src="{{ feed.extract.images[0].url }}" ng-click="openURL(feed, $index)" />
            <p>
              {{feed.extract.description}}
            </p>
          </div>
          
	  <div class="padding"> 
          	<button class="button button-block button-balanced" ng-click="showGistPrompt(feed, $index)"  >gist it</button>
	  </div>
        </div>
    </li>
  </ul>
</div>
</div>
