	    <div class="list card">
	      <div class="item item-thumbnail-left" >
		      <img ng-src="{{ result.extract.images[0].url }}" />
		      <img style="vertical-align: middle;" src="{{ result.extract.favicon_url }}" width="16px" height="16px" /><h4 style="display:inline; vertical-align:middle;"> via {{result.extract.provider_name}} · 
				<span class="balanced"><strong><ng-pluralize count="result.gist_count"
					 when="{'0': 'No Gists',
					     '1': '1 Gist',
					     'other': '{{result.gist_count}} Gists'}">
				</ng-pluralize></strong></span>
			</h4>	
		      <h2>{{result.extract.title}}</h2>
		      <p>{{result.extract.description}}</p>
	      </div>
	   </div>

