<style>
.profile-card {
  width: 100%;
  text-align: center;
  color: #333332;
  padding: 30px 0;
  line-height: 1.4;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.profile-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: black;
  border 1px solid white;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
}

.profile-name {
  margin: 20px 0 0 0;
  font-weight: 600;
  font-size: 17px;
}

.profile-id {
  margin: 0 0 5px 0;
  font-size: 14px;
  opacity: 0.6;
}

.profile-desc {
  font-size: 15px;
  opacity: 0.6;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
</style >

<div ng-controller="ProfileCtrl" id="Profile">
<div class="content">
	<div class="profile-card">
		<img ng-src="{{ $storage.user.profilePicture || '/img/Gakuseisean-Ivista-2-Misc-User.jpg' }}" class="profile-image">
		<div class="profile-name">{{ $storage.user.firstName }} {{ $storage.user.lastName }}</div>

		<button ng-show="$storage.user.id" ng-click="logout()" class="button button-small button-balanced">Logout</button>
		<button ng-show="!$storage.user.id" ng-click="loadInitialView()" class="button button-small button-balanced">Log in</button>
	</div>

	<div class="list" ng-show="$storage.user.id">

	  <a class="item item-icon-left" ng-click="pushGists()">
	    <i class="icon super-social-google"></i>
	    Gists
	    <span class="badge badge-balanced">{{gistCount || 0}}</span>
	  </a>
	  
	  <a class="item item-icon-left" ng-click="pushLikes()">
	    <i class="icon super-heart"></i>
	    Likes 
	    <span class="badge badge-balanced">{{likeCount || 0}}</span>
	  </a>
	  <a class="item item-icon-left" ng-click="pushComments()">
	    <i class="icon super-reply"></i>
	    Comments 
	    <span class="badge badge-balanced">{{commentCount || 0}}
	    </span>
	  </a>
	<div class="item item-divider">
		 Social 
		</div>

	  <li class="item item-toggle">
	     Auto Post to Facebook
	     <label class="toggle toggle-assertive">
	       <input type="checkbox">
	       <div class="track">
		 <div class="handle"></div>
	       </div>
	     </label>
	  </li>
	    <li class="item item-toggle">
	     Auto Post to Twitter
	     <label class="toggle toggle-assertive">
	       <input type="checkbox">
	       <div class="track">
		 <div class="handle"></div>
	       </div>
	     </label>
	  </li>

	</div>
   </div>
</div>
