/***********************************************************
 * These styles apply for native components on iOS.
 * Read more about native styles at http://docs.appgyver.com
 ***********************************************************/

navigation-bar {
  background-color: #5dac46;
  color: #ffffff;
}

navigation-bar title {
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
}

navigation-bar button, navigation-bar back-bar-button {
  color: #ffffff;
  font-weight: 300;
}

tab-bar {
  background-color: #ffffff;
  border-top: 1px #d8d8d8 solid;
}

tab-bar tab-bar-item {
  font-family: "Open Sans";
  font-size: 10px;
}

tab-bar tab-bar-item:selected {
  color: #5dac46;
}

tab-bar {
  color: #5dac46;
}

tab-bar-item#current {
  background-image: url(icons/bubbles4.svg);
}

tab-bar-item#trending {
  background-image: url(icons/stats-dots.svg);
}

tab-bar-item#feed {
  background-image: url(icons/newspaper.svg);
}

tab-bar-item#profile {
  background-image: url(icons/user.svg);
}
