<div ng-controller="SearchCtrl" id="Search">
    <div class="content overflow-scroll scroll">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Search" ng-model="search">
      </label>

      <ul>
	<super-navigate ng-model="results" ng-repeat="result in results" view-id="viewGist" ng-attr-data-params-url="{{result.url}}">
        <li>
            <div class="list card">

              <div class="item item-avatar">
                <img ng-src="{{ result.extract.favicon_url }}">
                <h2>{{result.extract.provider_name}}</h2>
                <h2 style="position: absolute; top: 16px; right: 40px; max-width: 170px; max-height: 40px; width; font-size: 30px !important;"><a ng-click="loadGists()">
			<ng-pluralize count="result.gist_count"
				 when="{'0': 'No Gists',
				     '1': '1 Gist',
				     'other': '{{result.gist_count}} Gists'}">
			</ng-pluralize>	
		</a>
		</h2>
              </div>

              <div class="item item-body">
                    <img class="full-image" ng-src="{{ result.extract.images[0].url }}" ng-click="openURL(gist.url.key.raw.name)" />
                <h2>
                  {{result.extract.title}}
                </h2>
              </div>
                  
            </div>
        </li>
	</super-navigate>
      </ul>
    </div>
    </div>
</div>
