<super-navbar>
  <label class="item-input-wrapper">
    <i class="icon super-ios7-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
</super-navbar>

<div ng-controller="SearchCtrl" id="Search">
    <div class="content overflow-scroll scroll">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Search" ng-model="search">
      </label>

      <ul>
	<li ng-model="results" ng-repeat="result in results">
		<a open-themeable-browser index="{{$index}}" url="{{result.url}}" feed="result" ng-if="!result.gist_count">
			    <search-card></search-card>
		</a>
		<super-navigate view-id="viewGist" ng-attr-data-params-url="{{result.url}}" ng-if="result.gist_count">
			    <search-card></search-card>
		</super-navigate>
	</li>
      </ul>
    </div>
    </div>
</div>
