<div ng-controller="ArticleCtrl" id="Article">
    <div class="content">
        <div class="list card">
            <div class="article-extract">
                <div class="item item-body">
                    <article>
                        <a class="title" ng-title="{{article.title}}">
                            <h3>{{article.title}}</h3>
                        </a>
                        <div ng-bind-html="article.content"></div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
